{{ define "main" }}
<section>
  <div class="content">
    <h1>Protect Medical Workers from the Coronavirus</h1>
    <p>Intubating doctors can be exposed to <b>high viral loads</b> from a breathing or coughing COVID-19 patient (NEJM, 2020).</p>
    <p>By providing a <b>Negative Pressure Patient Isolation Zone (NPPIZ)</b> that can be quickly and cheaply deployed, we at Chamber 19 aim to reduce high viral load exposure for doctors and nurses.</p>
  </div>
</section>

<section>
    <div class="content">
        <h2>How it works?</h2>
        <div>
            <img src="/images/nppiz.jpg" />
        </div>
    </div>
</section>

<section class="two-column">
    <div class="left">
        <p>The Chamber 19 kit includes:</p>
        <ul>
            <li>Aerosol Box or Oxygen Tent</li>
            <li>miniSQUAIR bioaerosol capture device</li>
        </ul>
    </div>
    <div class="right">
        <p>What you'll need:</p>
        <ul>
            <li>Smoke evacuation system</li>
            <li>Self-adhesive plastic sheeting (if using Aerosol Box)</li>
        </ul>
      </div>
</section>
{{ end }}
